{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Talks" %}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Speaker" %}</th>
                    <th>{% trans "Presented" %}</th>
                </tr>
                {% for talk in talks %}
                    <tr>
                        <td>{{ talk.title }}</td>
                        <td>
                            <ul>
                                {% for speaker in talk.speakers.all %}
                                    <li>
                                        {# TODO link through to speaker page #}
                                        {{ speaker.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ talk.event.date|date:"jS M Y"|default:"not yet" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}
